<% content_for(:nav) { %>
    <%= render :partial => 'layouts/cside' %>
<% } %>
<% content_for(:page_header) { %>
    <h4>新增PCB BOMS</h4>
<% } %>

<%= form_for @pcb_bom, :html => {:class => 'form-horizontal'} do |f| %>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <td style="width: 10%;">元件名</td>
        <td>规格</td>
        <td>封装</td>
        <td style="width: 40%;">标记</td>
        <td style="width: 5%;">数量</td>
        <td style="width: 5%;">其他</td>
        <td style="width: 8%;">操作</td>
      </tr>
      <% if session[:pcb_boms] %>
          <% session[:pcb_boms].each do |p| %>
              <tr>
                <td><%= Component.find(p[:comp_id]).element.name %></td>
                <td><%= Component.find(p[:comp_id]).specification.name %></td>
                <td><%= Component.find(p[:comp_id]).package.name %></td>
                <td><%= p[:mark] %></td>
                <td><%= p[:count] %></td>
                <td><%= p[:info] %></td>
                <td></td>
              </tr>
          <% end %>
      <% end %>
      <tr>
        <td><%= select_tag :element_id, options_for_select(['-请选择-']+@element_list), id: 'component_element_id', class: 'span2' %></td>
        <td><%= select_tag :specification_id, options_for_select(['请选择上级']), id: 'component_specification_id', class: 'span2' %></td>
        <td><%= select_tag :package_id, options_for_select(['请选择上级']), id: 'component_package_id', class: 'span2' %></td>
        <td><%= f.text_area :mark, rows: '10', class: 'span2' %></td>
        <td><%= f.text_field :count, class: 'span1' %></td>
        <td><%= f.text_field :info, class: 'span1' %></td>
        <td><%= submit_tag '添加', class: 'btn span1' %></td>
      </tr>
    </table>
    <div class="form-actions">
      <div class="control-group pull-left" style="margin-left: -200px;">
        <%= f.label :name, '元件名', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <%= f.submit '提交',class:'btn btn-primary' %>
    </div>
<% end %>
